[submodule "2048"]
	path = subprojects/2048
	url = https://github.com/yeaayy/2048.git
[submodule "cayley-table"]
	path = subprojects/cayley-table
	url = https://github.com/yeaayy/cayley-table.git
[submodule "the-matrix"]
	path = subprojects/the-matrix
	url = https://github.com/yeaayy/the-matrix.git
[submodule "maze-generator"]
	path = subprojects/maze-generator
	url = https://github.com/yeaayy/maze-generator.git
	branch = main
